{% extends "bootstrap/base.html" %}
{% block title %}All contacts{% endblock %}

{% block body %}
{% include 'views/navbar.html' %}
<br>
<div class="container">
  {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success" role="alert">
	{{ message }}
      </div>
      {% endfor %}
   {% endif %}
    <div class="d-flex flex-wrap">
        {% for contact in contacts %}
        <div class="card ml-2 mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ contact[1] }} {{ contact[2] }}</span></h5>
                <p class="card-text">{{ contact[3] }}</p>
                <a href="/edit/{{contact[0]}}" class="btn btn-success">Modificar Contacto</a>
                <a href="/delete/{{contact[0]}}" class="btn btn-danger">Eliminar Contacto</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
